@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.msk {
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.masuk {
    background-color: #212121;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 768px; /* Lebar maksimum */
    min-height: 480px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px; /* Padding tambahan */
}

.masuk p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.masuk span {
    font-size: 14px;
    color: whitesmoke;
}

.masuk a {
    font-size: 14px;
    color: whitesmoke;
    text-decoration: none;
    margin: 15px 0 10px;
}

.masuk a:hover {
    display: absolute;
    font-size: 14px;
    color: #212121;
    text-decoration: none;
    margin: 15px 0 10px;
}

.masuk h1 {
    color: crimson;
    text-decoration: none;
}

.masuk form {
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px; /* Padding tambahan */
    height: 98%;
}

.masuk input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 98%;
    outline: none;
}

.form-masuk {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2; 
}

.sign-in a {
    font-size: 14px;
}

.masuk.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.masuk.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin-top: 20px;
    margin-bottom: 10px;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.social-icons a:hover {
    border: 1px solid crimson;
    color: crimson;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-masuk {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.masuk.active .toggle-masuk {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: crimson;
    height: 100%;
    color: #eee;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.masuk.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px; /* Padding tambahan */
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.masuk.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.masuk.active .toggle-right {
    transform: translateX(200%);
}

.alert {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 70%;
    transform: translate(-50%, -50%);
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.35rem;
    text-align: center; /* Teks di tengah */
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
   
