@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  height: 100vh;
}

/****************************AWAL DETAIL BUKU**************************************/
.kontenpstk {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Menampilkan 4 buku dalam 1 baris */
  grid-gap: 20px; /* Jarak antar buku */
  justify-content: center;
}

/* Responsif untuk layar dengan lebar maksimum 1050px */
@media (max-width: 1050px) {
  .kontenpstk {
    grid-template-columns: repeat(3, 1fr); /* Menampilkan 3 buku dalam 1 baris */
  }
}

/* Responsif untuk layar dengan lebar maksimum 768px */
@media (max-width: 768px) {
  .kontenpstk {
    grid-template-columns: repeat(2, 1fr); /* Menampilkan 2 buku dalam 1 baris */
  }
}

/* Responsif untuk layar dengan lebar maksimum 480px */
@media (max-width: 480px) {
  .kontenpstk {
    grid-template-columns: repeat(1, 1fr); /* Menampilkan 1 buku per baris */
  }
}

.book {
  background: #212121; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.book img {
  margin-top: 13px;
  width: 100%; /* Lebar gambar menyesuaikan dengan lebar container .book */
  max-height: 300px; /* Atur ketinggian maksimum agar gambar tidak terlalu besar */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Media query untuk layar dengan lebar maksimum 480px (ponsel) */
@media (max-width: 480px) {
  .book img {
    margin-top: 13px;
    max-height: none; /* Hapus batasan ketinggian maksimum */
    height: auto; /* Atur tinggi gambar agar proporsional dengan lebar */
  }
}

.container-deku {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

/* Media query untuk layar dengan lebar maksimum 480px (ponsel) */
@media (max-width: 480px) {
  .container-deku {
    max-width: 100%; /* Batasi lebar maksimum agar tidak melebihi layar */
  }
}

.container-deku h5{
  color: whitesmoke;
}
.container-deku h5:hover{
  color: crimson;
}

.book_d img {
  background: linear-gradient(135deg, #fff, #f7f7f7f7, #eee);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  width: 240px; /* Lebar tetap untuk desktop */
  height: 344px; /* Tinggi tetap untuk desktop */
  border-radius: 10px;
}

/* Media query untuk layar dengan lebar maksimum 480px (ponsel) */
@media (max-width: 480px) {
  .book_d img {
    width: 100%; /* Lebar gambar menyesuaikan dengan lebar container .book_d */
    height: auto; /* Atur tinggi gambar agar proporsional dengan lebar */
    margin-left: 0; /* Hapus margin kiri */
    margin-right: 0; /* Hapus margin kanan */
  }
}


.book_p img {
  background: linear-gradient(135deg, #fff, #f7f7f7f7, #eee);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  width: 344px;
  height: 344px;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .book_p img {
    width: 100%; /* Lebar gambar menyesuaikan dengan lebar container .book_d */
    height: auto; /* Atur tinggi gambar agar proporsional dengan lebar */
    margin-left: 0; /* Hapus margin kiri */
    margin-right: 0; /* Hapus margin kanan */
  }
}

.book-info {
  padding: 15px;
  text-align: center;
  color: #eee;
}

.judul_buku {
  font-size: 26px;
  margin-bottom: 7px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Offset-x Offset-y Blur-radius Color */
}

.book-details {
  display: flex;
  justify-content: space-between;
}
.book-year {
  font-size: 25px;
  color: crimson;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Offset-x Offset-y Blur-radius Color */
}

/****************************AKHIR DETAIL BUKU**************************************/
.navbar-tombol a {
}

.single-footer-widget a {
  line-height: 25px;
  display: inline-block;
  color: #777;
}

.single-footer-widget a:hover {
  color: #ff1857;
}

.single-footer-sosial a {
  line-height: 25px;
  display: inline-block;
  color: #eeeeee;
}

.single-footer-sosial a:hover {
  color: #ff1857;
}

.footer-area {
  background: #212121;
  padding-top: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.f_boder {
  border-top: 2px solid transparent;
  box-shadow: 0 0 10px black;
}

/*------------ scroll to top ------------*/
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 40px;
    height: 40px;
    text-align: center;
    background:  rgb(207, 2, 57);
    color: #fff;
    border-radius: 50%;
    z-index: 1000;
    transition: background 0.3s ease-in-out;
}

.scroll-to-top:hover {
    background:  rgb(150, 0, 40);
    color: #bbbbbb;
}

.scroll-to-top i {
    font-size: 20px;
    line-height: 40px;
}
.rounded {
    border-radius: 50%;
}
/*------------ scroll to top ------------*/

/*------------t0mb0l------------*/
.tombol {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.50rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (max-width: 768px) {
  .tombol {
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
  }
}

.tombol-booking { 
  color: whitesmoke;
  background-color: crimson;
  border-color: crimson;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.tombol-booking:hover {
  color: crimson;
  background-color: #212121;
  border-color: crimson;
  box-shadow: 0 0 10px crimson;
  text-decoration: none;
}
.tombol-detail { 
  color: whitesmoke;
  background-color: #212121;
  border-color: 1px whitesmoke;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.tombol-detail:hover {
  color: crimson;
  background-color: #212121;
  border-color: crimson;
  box-shadow: 0 0 10px crimson;
  text-decoration: none;
}
.tombol-kembali { 
  color: whitesmoke;
  background-color: #212121;
  border-color: #212121;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.tombol-kembali:hover {
  color: crimson;
  background-color: #212121;
  border-color: crimson;
  box-shadow: 0 0 10px crimson;
  text-decoration: none;
}
.tombol-daftar { 
  color: whitesmoke;
  background-color: #212121;
  border-color: crimson;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.tombol-daftar:hover {
  color: crimson;
  background-color: #212121;
  border-color: crimson;
  box-shadow: 0 0 10px crimson;
  text-decoration: none;
}
/*-------------t0mb0l------------*/

/*-------------4L3RTT------------*/
.tombol-alert{
  color: whitesmoke;
  font-size: 12px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.tombol-alert:hover{
  color: crimson;
  font-size: 12px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
/*-------------4L3RTT------------*/
